body {
    background-color: rgb(53, 47, 47);;
}

.card {
    border-radius: 3px;
    border: solid;
    border-width: 5px;
    float:left;
    margin: 0 50px 50px 0;
}

.container {
    margin-top: 100px;
    margin-left: 20%;
    width: 70%;
}

.jumbotron {
    background-image: url("https://i.pinimg.com/originals/c1/1b/ca/c11bca608efd135728bba6251aaa3bb5.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height:650px;
    width: 100%;
    color:white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#nav {
    position: fixed;
    width: 100%;
    background-color: rgb(53, 47, 47);
    display: inline-flex;
}

#logo {
    text-align: left;
}

#message {
    position:fixed;
    left:40%;
}

#scores {
    position: fixed;
    right:10%;
}